:root {
  --primary: #141517;
  --primary-text: #1a1a1a;
  --secondary: #ff1dec;
  --secondary-text: #ffffff;
  --accent: #141517;
  --accent-text: #ffffff;
  --color-button: #cbcbcb;
  --color-navBar: #141517;
  --color-test : #535353;
}
